nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 20px;
    padding: 5px;
}
nav li:hover{
    background-color: rgb(168, 168, 189)
}
nav li a{
    text-decoration: none;
    colour:black;

}
/* nested menu style */
nav li .dropdown{
    display: none;
    position: absolute;
    background-color: lightyellow;
    padding-left: 10px;
}
nav li:hover > .dropdown{
    display: block;
}